<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPOTIFY_CLIENT</key>
	<string>3b028a6bf8154789ae148a0c03ef8e5e</string>
	<key>REDIRECT_URL</key>
	<string>TuneIn://Test</string>
</dict>
</plist>
