<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPOTIFY_CLIENT</key>
	<string>5a92f1fce9c241258f332a85d18ce255</string>
	<key>REDIRECT_URL</key>
	<string>TuneIn://Test</string>
</dict>
</plist>
